@model ChuyenBayViewModel

@{
    ViewData["Title"] = "Thông tin chuyến bay";
}

<h2>Thông tin chuyến bay</h2>

<div>
    <div class="form-group">
        <label>Mã chuyến bay</label>
        <input asp-for="ChuyenBay.MACH" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Tên chuyến</label>
        <input asp-for="ChuyenBay.CHUYEN" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Điểm đi</label>
        <input asp-for="ChuyenBay.DDI" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Điểm đến</label>
        <input asp-for="ChuyenBay.DDEN" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Ngày bay</label>
        <input asp-for="ChuyenBay.NGAY" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Giờ bay</label>
        <input asp-for="ChuyenBay.GBAY" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Giờ đến</label>
        <input asp-for="ChuyenBay.GDEN" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Số ghế Thường</label>
        <input value="@Model.SoHanhKhachThuong/@Model.ChuyenBay.THUONG" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Số ghế VIP</label>
        <input value="@Model.SoHanhKhachVIP/@Model.ChuyenBay.VIP" class="form-control" readonly />
    </div>
    <form asp-action="ThemHK" method="post">
        <input type="hidden" name="MACH" value="@Model.ChuyenBay.MACH">
        <div class="form-group">
            <label>Mã Hành khách</label>
            <input class="form-control" name="MAHK" />
        </div>
        <div class="form-group">
            <label>Số ghế</label>
            <input name="SOGHE" class="form-control" />
        </div>
        <div class="form-group">
            <select name="LOAIGHE" id="">
                <option value="1">VIP</option>
                <option value="0">Thường</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Thêm Hành khách</button>
        </div>
    </form>
</div>
