@model HanhKhach

@{
    ViewData["Title"] = "Thêm hành khách";
}

<h2>Thêm hành khách</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Mã hành khách</label>
        <input asp-for="MAHK" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tên hành khách</label>
        <input asp-for="HOTEN" class="form-control" />
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input asp-for="DIACHI" class="form-control" />
    </div>
    <div class="form-group">
        <label>Điện thoại</label>
        <input asp-for="DIENTHOAI" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}